:root {
    --border: 0.50rem;
}

body {
    background-color: #f0f0ee;
    font-family: 'Noto Sans JP', sans-serif;
}

.set {
    width: 50%;
    height: 30rem;
    margin: 20vh auto;
    display: flex;
    flex-wrap: wrap;
}

.join__our__community {
    width: 100%;
    padding-left: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: white;
    box-sizing: border-box;/*As propriedades de largura (width) e de altura (height) incluem o tamanho padding size e a propriedade border, mas não incluem a propriedade margin.*/
    border-top-left-radius: var(--border);
    border-top-right-radius: var(--border);
}

.join__our__community h1 {
    color: #399d9a;
    font-size: 2rem;
}

.join__our__community h2 {
    color: #c8dc65
}

.join__our__community div p {
    color: gray;
}

/*--------------------------------------------------------------------------------------------------------------------------------------*/
.under {
    width: 100%;
    display: flex;
}

/*--------------------------------------------------------------------------------------------------------------------------------------*/
.monthly__sub {
    width: 50%;
    display: flex;
    padding-left: 2rem;
    flex-direction: column;
    justify-content: space-evenly;
    color: white;
    background-color: #2cb3af;
    box-sizing: border-box;
    border-bottom-left-radius: var(--border);
}

.monthly__sub h2 {
    font-weight: bold;
}

.text__monthly__sub p {
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
}

.price {
    font-size: 2rem;
    padding-right: 00.50rem;
}

.period {
    color: silver
}

.monthly__sub button {
    width: 80%;
    height: 3.5rem;
    color: white;
    font-weight: bold;
    border-radius: 0.50rem;
    background-color: #C8DC38;
}

/*--------------------------------------------------------------------------------------------------------------------------------------*/
.why__us {
    width: 50%;
    padding-left: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    color: white;
    background-color: #4bbcbf;
    box-sizing: border-box;
    border-bottom-right-radius: var(--border);
}

.why__us h2 {
    font-weight: bold;
}

.why__us div p {
    margin-bottom: 0.50rem;
}

/*--------------------------------------------------------------------------------------------------------------------------------------*/
@media screen and (max-width:768px) {

    .join__our__community {
        padding: 1rem 2rem 1rem 2rem;
    }

    .under {
        flex-direction: column;
    }

    .monthly__sub {
        width: 100%;
        padding: 1rem 2rem 1rem 2rem;
        border-bottom-left-radius: 0rem;
        width: 100%;
    }

    .why__us {
        width: 100%;
        padding: 1rem 2rem 1rem 2rem;
        border-bottom-left-radius: var(--border);
    }

}
/*--------------------------------------------------------------------------------------------------------------------------------------*/

@media screen and (max-width:410px){
    :root{
        font-size: 0.5rem;
    }
    .join__our__community h1{
        font-size: 1rem;
    }
}